---
export const prerender = true;

import { getCollection } from 'astro:content';
import HomeLayout from '@/layouts/HomeLayout.astro';
import Card from '@/components/Card.astro';

const posts = await getCollection('posts', ({ data }) => !data.draft);
const recent = posts
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 4);
---

<HomeLayout>
  <h1 class="text-3xl font-bold sm:text-4xl">Hi, I'm ...</h1>
  <p class="mt-4">Short intro paragraph.</p>

  <ul slot="recent-posts" class="mt-4">
    {recent.map(post => <Card {...post} />)}
  </ul>
</HomeLayout>
