---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';

type Props = CollectionEntry<'posts'>;

const { id, data } = Astro.props;

const { title, description, pubDate } = data;
---

<li class="my-5 space-y-2">
  <a href={`/posts/${id}/`}>
    <h3 class="mb-2 text-lg font-medium">
      {title}
    </h3>
    <FormattedDate date={pubDate} />
    <p class="my-2 line-clamp-2 text-sm leading-relaxed">
      {description}
    </p>
  </a>
</li>
