---
import Calendar from '@/assets/icons/calendar.svg';

interface Props {
  date: Date;
}

const { date } = Astro.props;
---

<div class="flex items-center gap-x-2 text-foreground">
  <Calendar class:list={['inline-block size-4']} />

  <time class="text-sm" datetime={date.toISOString()}>
    {
      date.toLocaleDateString('en-us', {
        year: 'numeric',
        month: 'short',
        day: 'numeric'
      })
    }
  </time>
</div>
