---
import BaseLayout from './BaseLayout.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import { SITE } from '@/consts';

const props = Astro.props;

const { title, description } = 'frontmatter' in props ? props.frontmatter : props;
---

<BaseLayout title={`${title} | ${SITE.title}`} description={description}>
  <Header />
  <main id="main-content" class="wrapper mt-4 mb-12">
    <h1 class="text-2xl font-semibold">{title}</h1>
    <section class="app-prose mt-5">
      <slot />
    </section>
  </main>
  <Footer />
</BaseLayout>
