---
import BaseLayout from './BaseLayout.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import { SITE } from '@/consts';

type Props = {
  title?: string;
  description?: string;
};

const { title = 'Posts', description } = Astro.props;
---

<BaseLayout title={`${title} | ${SITE.title}`} description={description ?? SITE.desc}>
  <Header />
  <main id="main-content" class="wrapper mt-4 mb-12">
    <h1 class="text-2xl font-semibold">{title}</h1>
    <slot />
  </main>
  <Footer />
</BaseLayout>
